@{
    Layout = "_Layout";
} 


@using EauClairesSalon.Models; 
@model List<EauClairesSalon.Models.Stylist>;

<div class="text-center">
  <h1 class="display-4">Stylist List</h1>
@if (Model.Count == 0){
    <h3>You currently have no stylists</h3>

    
}


    @foreach (Stylist stylist in Model)
    {
            @Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })<br>
    }


@if(Model.Count != 0){
@Html.ActionLink("Add new client", "Create", "Client")<br>
}
@Html.ActionLink("Add new stylist", "Create")

</div>