@{
    Layout = "_Layout";
} 

@model EauClairesSalon.Models.Client;

<div class="text-center">
  <h1 class="display-4">Client List</h1>
<h4>Add a new client</h4>
<hr/>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add client" />
}

<p>@Html.ActionLink("show client list", "Index")</p>
</div>