@{
    Layout = "_Layout";
} 

@model EauClairesSalon.Models.Client;

<h4>Add a new client</h4>
<hr/>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

        
            <input type="submit" value="Add client" />
}

<p>@Html.ActionLink("show client list", "Index")</p>