@{
    Layout = "_Layout";
}


@using HairSalon.Models

<title>Eau Claire's Salon</title>
<div class="text-center">
  <h1 class="display-4">Welcome to Eau Claire's salon</h1>
  <hr>
  <h5>Experience the transformation of your hair into a work of art. Your path to beautiful hair starts here.</h5>
  <p></p>
</div>




