@{
    Layout = "_Layout";
}


@using HairSalon.Models

<title>Eau Claire's Salon</title>
<div class="text-center">
  <h1 class="display-4">Welcome to Eau Claire's salon</h1>
  <h4>Eau Claire's Salon is where artistry and tradition meet to bring out your unique style.</h4>
  <p></p>
</div>

<h1></h1>


