@{
    Layout = "_Layout";
}


@using EauClairesSalon.Models

<title>Eau Claire's Salon</title>
<div class="text-center">
  <h1 class="display-4">Welcome to Eau Claire's salon</h1>
  <p></p>
</div>

<h1></h1>


